<%- include('./partials/head') %>

<article class="favorieten">
    <h2>Mijn favorieten</h2>

    <div id="empty-state">
        <p>Deze pagina is nog leeg!</p>
    </div>

</article>

<%- include('./partials/foot') %>